:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: linear-gradient 13s ease infinite;
}

@keyframes linear-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.titleDo {
    color: white;
    text-align: center;
    font-size: 62px;
    margin: 0px 0px 25px 0px;
    max-width: 350px;
    
}

hr {
    color: white;
}

.list {
    margin: 25px auto;
    padding: 25px;
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    max-width: 350px;
    margin: 25px auto;
    
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 40px;
}

#dateText {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 35px;
}

#dateMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 15px;
}


form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--light);
}

input:focus {
    outline: none;
}

.addTaskButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    background-color: rgba(0,0,0,0);
    color: white;
}

.addTaskButton:hover {
    transform: scale(1.1);
}

#msg {
color: var(--light);
}


#taskGroup div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(72, 0, 105, 0.562);
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    color: var(--light);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.options {
    display: flex;
    gap: 25px;
}

i {
   cursor: pointer; 
}

.done {
    background-color: rgba(0,0,0,0);
    text-decoration: line-through;
    color: var(--light);
}